# Chapter 4. Flow Control and Logic

## Conditionals

In [ ]:
# Unary Operators
# Negation and Logical NOT
x = False
if not x:
    print("x is False")

False

In [8]:
# Bitwise NOT
x = 0
print(~x)
x = 1
print(~x)

-1
-2

In [10]:
h_bar = 1.0
if h_bar == 1.0:
    print("h-bar isn't really unity! Resetting...")
    h_bar = 1.05457173e-34

h-bar isn't really unity! Resetting...

In [16]:
val = 0.0
if val == 0.0:
    raise ZeroDivisionError("Division by zero is not allowed")
inv = 1.0 / val
inv

ZeroDivisionError: Division by zero is not allowed

## Loops

In [18]:
# While Loop
# Countdown example
t = 3
while 0 < t:
    print("t-minus " + str(t))
    t = t - 1
print("blastoff!")

t-minus 3
t-minus 2
t-minus 1
blastoff!

In [19]:
# Infinite Loop Example
while False:
    print("I am sorry, Dave.")
print("I can't print that for you.")

I can't print that for you.

In [21]:
# Fibonacci Sequence Example
# Generate Fibonacci numbers until one is divisible by 12
fib = [1, 1]
while True:
    x = fib[-2] + fib[-1]
    if x%12 == 0:
        break
    fib.append(x)
fib

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [22]:
# Countdown with For Loop
# Using a for loop to count down
for t in [3, 2, 1]:
    print("t-minus " + str(t))
print("blastoff!")

t-minus 3
t-minus 2
t-minus 1
blastoff!

In [23]:
# Countdown with For Loop and Continue
# Using a for loop with continue to skip even numbers 
for t in [7, 6, 5, 4, 3, 2, 1]:
    if t%2 == 0:
        continue
    print("t-minus " + str(t))
print("blastoff!")

t-minus 7
t-minus 5
t-minus 3
t-minus 1
blastoff!

In [24]:
# For Loop with Else Clause
# Using a for loop with an else clause
for letter in "Gorgus":
    print(letter)

G
o
r
g
u
s

In [26]:
# For Loop with Set
# Using a for loop to iterate over a set    
# Output will be in arbitrary order
for x in {"Gorgus", 0, True}:
    print(x)

Gorgus
0
True

In [27]:
# For Loop with Dictionary
# Using a for loop to iterate over a dictionary
# Output will be the keys and their corresponding values
# Note: The order of keys in a dictionary is not guaranteed
d = {"first": "Albert",
     "last": "Einstein",
     "birthday": [1879, 3, 14]}

for key in d:
    print(key)
    print(d[key])
    print("======")

first
Albert
======
last
Einstein
======
birthday
[1879, 3, 14]
======

In [28]:
d = {"first": "Albert",
     "last": "Einstein",
     "birthday": [1879, 3, 14]}

print("Keys:")
for key in d.keys():
    print(key)

print("\n======\n")

print("Values:")
for value in d.values():
    print(value)

print("\n======\n")

print("Items:")
for key, value in d.items():
    print(key, value)

Keys:
first
last
birthday

======

Values:
Albert
Einstein
[1879, 3, 14]

======

Items:
first Albert
last Einstein
birthday [1879, 3, 14]

In [31]:
# For Loop with Items
# using item we get both key and value in a single iteration as a tuple
for item in d.items():
    print(item)

('first', 'Albert')
('last', 'Einstein')
('birthday', [1879, 3, 14])

In [32]:
quarks = {'up', 'down', 'top', 'bottom', 'charm', 'strange'}
for quark in quarks:
    print(quark)

strange
top
down
charm
up
bottom

# Comprehensions

In [37]:
# List comprehension
# [<expr> for <loop-var> in <iterable>]

# Set comprehension
# {<expr> for <loop-var> in <iterable>}

# Dictionary comprehension
# {<key-expr>: <value-expr> for <loop-var> in <iterable>}

In [34]:
upper_quarks = []
for quark in quarks:
    upper_quarks.append(quark.upper())

upper_quarks

['STRANGE', 'TOP', 'DOWN', 'CHARM', 'UP', 'BOTTOM']

In [35]:
upper_quarks = [quark.upper() for quark in quarks]
upper_quarks

['STRANGE', 'TOP', 'DOWN', 'CHARM', 'UP', 'BOTTOM']

In [40]:
# Set comprehension to create a set of quarks in lowercase
# This will remove duplicates and ensure all entries are lowercase
entries = ['top', 'CHARm', 'Top', 'sTraNGe', 'strangE', 'top']
quarks = {quark.lower() for quark in entries}
quarks

{'charm', 'strange', 'top'}

In [42]:
# Dictionary comprehension to create a dictionary with squares of numbers
# This will create a mapping of each number to its square plus 42
entries = [1, 10, 12.5, 65, 88]
results = {x: x**2 + 42 for x in entries}
results

{1: 43, 10: 142, 12.5: 198.25, 65: 4267, 88: 7786}

In [ ]:
# List comprehension with filter
# [<expr> for <loop-var> in <iterable> if <condition>]

# Set comprehension with filter
# {<expr> for <loop-var> in <iterable> if <condition>}

# Dictionary comprehension with filter
# {<key-expr>: <value-expr> for <loop-var> in <iterable> if <condition>}

In [44]:
# List comprehension with filter to create a set of squares of Fibonacci numbers
{x**2 for x in fib if x%5 == 0}

{25, 3025}

In [45]:
coords = {'x': 1, 'y': 2, 'z': 3, 'r': 1, 'theta': 2, 'phi': 3}
polar_keys = {'r', 'theta', 'phi'}
polar = {key: value for key, value in coords.items() if key in polar_keys}
polar

{'r': 1, 'theta': 2, 'phi': 3}